@import "../../../assests/styles/globalStyle.scss";

.gameContainer {
    margin: 7% auto 0;
    width: 75%;
    padding: 2rem;
    box-shadow: 0 0 0.5rem $backGroundColor, 0 0 2rem $lightGreen,
        0 0 6rem $lightGreen;
    border-radius: 10vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 10rem;
    border: 2px solid $lighterGreen;
    overflow: hidden;
}

.gameContainer img {
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-position: cover;
}
article{
    position: relative;
}


